{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% trans "Account Locked" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <img src="{% versioned_static 'dashboard/img/goi-logo.png' %}" />
        <h1>&nbsp</h1>
        <h1>Account Locked</h1>
        <h2 style="text-align: center;">Too many login attempts</h2>
        <h2 style="text-align: center;">Please try again later</h2>
    </main>
{% endblock %}
